/* esercizio 1 */

.ex-1-square:hover {
    background: red;
}

.ex-1-square {
    transition: 3s;
}



/* esercizio 2 */

.ex-2-square:active {
    width: 100%;
}

.ex-2-square {
    transition: 1s;
}



/* esercizio 3 */

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-3-square {
    transition: 1s;
}



/* esercizio 4 */

.ex-4-square:hover {
    background-color: transparent;
}

.ex-4-square {
    transition: 1s;
}



/* esercizio 5 */

.ex-5-square:hover {
    transform: scale(1.4);

}

.ex-5-square:active {
    transform: scale(0.4);
}


.ex-5-square {
    transition: 1s;
}



/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}



/* esercizio 7 */

.ex-7-img:hover {
    filter: sepia(50%);
}

.ex-7-img {
    transition: 2s;
}



/* esercizio 8 */

.ex-8-img:hover {
    filter: sepia(80%);
    border-radius: 20px;
}

.ex-8-img {
    transition: 2s;
}



/* esercizio 9  */

.ex-9-img:hover {
    filter: sepia(70%);
    border-radius: 20px;
    transform: scale(1.4);
}

.ex-9-img {
    transition: 2s;
}



/* esercizio 10 */

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.ex-10-icon {
    animation: rotating 1s linear infinite;
}



/* esercizio 11 */

.ex-11-icon:hover {
    animation: rotating2 2s;
}



@keyframes rotating2 {
    0% {
        transform: rotate(0deg);

    }

    80% {
        transform: rotate(270deg);

    }

    100% {
        transform: rotate(0deg);

    }

}



/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation: vaidestra 1s linear alternate 2;
}


@keyframes vaidestra {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(115px);
    }
}



.ex-12-button:hover .ex-12-bottom-white {
    animation: vaisinistra 1s linear alternate 2;
}


@keyframes vaisinistra {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-95px);
    }
}



/* esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: cerchio 7s;
}


@keyframes cerchio {
    0% {
        transform: translateX(0px);
    }


    20% {
        transform: translateX(140px);
    }


    40% {
        transform: translate(140px, 60px);
    }


    60% {
        transform: translate(-40px, 60px);
    }

    80% {
        transform: translatex(-40px);
    }

    100% {
        transform: translatex(0px);
    }

}




.ex-13-button:hover .ex-13-bottom-white {
    animation: cerchio2 7s;
}


@keyframes cerchio2 {
    0% {
        transform: translateX(0px);
    }


    20% {
        transform: translateX(-115px);
    }


    40% {
        transform: translate(-115px, -60px);
    }


    60% {
        transform: translate(45px, -65px);
    }

    80% {
        transform: translatex(40px);
    }

    100% {
        transform: translatex(0px);
    }

}